/* Smartphones (portrait and landscape) ----------- */
/* Large Phones ----------- */
@media only screen and (min-width : 576px) and (max-width : 768px) {
    #Header{
        padding: 0;
        overflow: hidden;
        #Sponsor{ img {width: 50%;} }
        
        .container{
            .Headers{
                margin: 0;
                
                h1{   font-size: 2em; }
                h1:nth-child(2){ font-size: 4em;}  
                h1:nth-child(3){ font-size: 4em;}  
                h1:nth-child(3):after{bottom: 65px; height: 130px;}
            }
            p{
               
                margin: 30px 0;
            }
        } 
    }
}


/* Medium Phones ----------- */
@media only screen and (min-width : 480px) and (max-width : 576px) {

    #Header{
        padding: 0;
        overflow: hidden;
        #Sponsor{
            margin-bottom: 20px;
            border-bottom: unset;
            a{ line-height: 2.5em;}
            span{ float: left; line-height: 3em;}
            img {width: 20% ; float: unset;}
            
            .text-left{
                border-bottom: 2px solid #80D1D6;
                padding: 0 25px;
            }
            .text-right{
                text-align: left !important;
                padding: 0 25px;
            }
            
    }

        .container{
            .Headers{
                margin: 0;
                h1{   font-size: 1.8em; }
               
                h1:nth-child(2){ font-size: 3.5em;}  
                h1:nth-child(3){ font-size: 3.5em;}  
                h1:nth-child(3):after{bottom: 55px; height: 130px;}
               
            }
            p{
                font-size: 1.1em;
                margin: 30px 0;
            }
        } 
    }

}

/* Small Phones ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    #Header{
        padding: 0;
        overflow: hidden;
        #Sponsor{
            margin-bottom: 0px;
            border-bottom: unset;
            a{ line-height: 2.5em;}
            span{ float: left; line-height: 3em;}
            img {width: 20% ; float: unset;}
            
            .text-left{
                border-bottom: 2px solid #80D1D6;
                padding: 0 25px;
               
            }
            .text-right{
                text-align: left !important;
                padding: 0 25px;
                
            }
            
    }

        .container{
            padding: 0;
            .Headers{
                margin: 0;
                h1{   font-size: 1.3em; }
               
                h1:nth-child(2){ font-size: 3.5em;}  
                h1:nth-child(3){ font-size: 2.5em;}  
                h1:nth-child(3):after{bottom: 110px; height: 100px; right: 30px}
               
            }
            p{  
                font-size: 1.1em;
                margin: 30px 0;
            }
        } 
    }
   
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    #Header{
      
        #Sponsor{
            margin-bottom: 20px;
            border-bottom: unset;
            a{ line-height: 2.5em;}
            span{ float: left; line-height: 3em;}
            img {width: 20% ; float: unset;}
            
            .text-left{
                border-bottom: 2px solid #80D1D6;
               
            }
            .text-right{
                text-align: left !important;
                
            }
            
    }

        .container{
            padding: 0;
            .Headers{
                margin: 0;
                h1{   font-size: 1.3em; }
               
                h1:nth-child(2){ font-size: 3.5em;}  
                h1:nth-child(3){ font-size: 2.3em;}  
                h1:nth-child(3):after{bottom: 110px; height: 100px; right: 10px}
               
            }
            p{  
                font-size: 1.1em;
                margin: 30px 0;
            }
        } 
    }
}
