// Base Colors
$PrimaryColor:#e2e2e2;
$SecondaryColor:#000000; 
$TertiaryColor:#68d1ca; 
$Quaternary:#fefdf8;



// Type Colors
$PrimaryHColor:$SecondaryColor;
$SecondaryHColor:$Quaternary;
$TertiaryHColor:$PrimaryColor;

$PrimaryPColor:$SecondaryColor;
$SecondaryPColor:$Quaternary;
$TertiaryPColor:$PrimaryColor; 